body {
    background: #dbdbdb;
    margin: 0;
    padding: 20px;
}
.posts{
    display: flex;

}
.post {
    background: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.post h2 {
    margin: 0 0 10px;
    color: rgb(41, 39, 39);
    font-size: 18px;
}

.post p {
    margin: 0;
    color: rgb(85, 85, 85);
}