body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    padding: 40px;
    width: 300px;
    background: white;
    border-radius: 10px;
    text-align: center;
}

.header {
    font-size: 2rem;
    color: #333;
    margin-bottom: 30px;
}