* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body {
    min-height: 100vh; 
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    width:50%;
    margin-left:40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.pr {
    margin-top: 50px;
    margin-left: 90px;
    padding:80px opx;
    background: rgb(35, 83, 116);
    color: #fff;
    border-radius: 10px;
}

