body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    width: 300px;
    height: 300px;
    background: #7a7878;
    padding: 15px 10px;
}


button{
    padding: 10px 20px;
    background: #889ec5;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}