/*  homework  1  */
a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: red;
}

a:link {
    color: darkblue;
}

a:visited {
    color: #0f0;
}


/* homework  2 */

td , th {
    border: 1px solid #000;
}

table {
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: tomato;
}

tr:nth-child(odd) {
    background-color: red;
}
